services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: flovo
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  app:
    build: .
    depends_on:
      db:
        condition: service_healthy
    environment:
      NODE_ENV: development
      PORT: 4000
      DATABASE_URL: postgresql://postgres:postgres@db:5432/flovo?schema=public
      JWT_SECRET: change-me
      ENCRYPTION_KEY: 0000000000000000000000000000000000000000000000000000000000000000
      TELEGRAM_BOT_TOKEN: 8310173173:AAHNgz0I-Nzy6qBiHtRRi-f_r-JMS7eYCBY
      GEMINI_API_KEY: AIzaSyAWMp2evO2eT2iatC4lh--LQYwkFJz9CZE
      WEBHOOK_URL: https://05d7a762bc51457f7f698429fec0a573.serveo.net
      ALLOWED_ORIGINS: http://localhost:3000
      ENABLE_THROTTLING: "false"
      MAX_MESSAGE_AGE_MINUTES: "5"
      GOOGLE_CLIENT_ID: "264420896699-0d0vqj6bss10t2ivf8hpgjkkp7u1gm49.apps.googleusercontent.com"
      GOOGLE_CLIENT_SECRET: "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"
      GOOGLE_REDIRECT_URI: "http://localhost:4000/auth/google/redirect"
      FRONTEND_DEVELOPMENT_URL: http://localhost:3000/auth/callback
      FRONTEND_PRODUCTION_URL: https://flovo.kydanza.me/auth/callback
    ports:
      - "4000:4000"

volumes:
  pgdata:

